$('#comment-<%= @comment.id %>').hide();
//Checkpoint-47
// this file has access to instance variables just like a regular view would
// use the same anchor id technique we used in email_field
//this is useful way to select a specific comment, because it dynamically generates the selector id using ruby code
<% if @comment.destroyed? %>
   $('#comment-<%= @comment.id %>').hide();
   $('.js-comments-count').html("<%= pluralize(@comment.user.comments.count, 'comment') %>");
 <% else %>
 //Checkpoint-47 add a new flash notice notifying the user that an error has occured
   $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
 <% end %>
