.social-btn {
  border-radius: 6px;
  border: solid;
  border-width: 2px;
  background: white;
  text-align: center;
  height: 60px;
  width: 70px;
  font-size:30px;
  font: fantasy;
  font-style: normal;
  padding: 5px;
  margin: 10px;
}
